@model AdvertPortal.Core.ViewModels.OfferViewModel

@{
    ViewData["Title"] = Model.Heading;
}

<div class="text-start">
    <h2 class="text-warning text-start">@Model.Heading</h2> 
<hr />

<div class="row">

        @using (Html.BeginForm("OfferAddEdit", "Offer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Offer.Id)
            @Html.HiddenFor(x => x.Offer.UserId)
            @Html.HiddenFor(x => x.Offer.Date)

            <div class="row">
                @if (Model.Offer.Id == 0)
                {
                  <p class="alert alert-success">Pola: TYTUŁ, KATEGORIA, CENA oraz DANE SZCZEGÓŁOWE są <strong>wymagane !</strong></p>
                }
                
                <div class="col col-5">
                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Offer.Title, new { @class = "control-label col-form-label-lg" })
                        @Html.TextBoxFor(x => x.Offer.Title, new { @class = "form-control", autocomplete = "off", type = "text" })                       
                        @Html.ValidationMessageFor(x => x.Offer.Title)
                    </div>

                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Offer.CategoryId, new { @class = "control-label col-form-label-lg" })
                        @Html.DropDownListFor(x => x.Offer.CategoryId,
                            new SelectList(Model.Categories, "Id", "Name"),
                             "-- Wybierz kategorię --",
                             new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Offer.CategoryId)
                    </div>

                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Offer.Price, new { @class = "control-label col-form-label-lg" })
                        @Html.TextBoxFor(x => x.Offer.Price,
                   new { @class = "form-control", autocomplete = "off", type = "text", step="0.01", placeholder="np. 123,45" })
                        @Html.ValidationMessageFor(x => x.Offer.Price)
                    </div>

                </div>

                <div class="col col-5 offset-2 mt-2">
                        <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Offer.ImagesCollectionId, new { @class = "control-label col-form-label-lg" })
                        @Html.TextBoxFor(x => x.Offer.ImagesCollection,
                    new { @class = "form-control btn-info", type = "file", name = "postedFiles" })

                        </div>

                        <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Offer.ImagesCollectionId, new { @class = "control-label col-form-label-lg" })
                        @Html.TextBoxFor(x => x.Offer.ImagesCollection,
                        new { @class = "form-control btn-info", type = "file", multiple = "multiple", name = "postedFiles" })

                        </div>
                    </div>

            </div>
            <div class="col col-12">

                <div class="form-group mb-2 mt-4 ">
                    @Html.LabelFor(x => x.Offer.Description, new { @class = "control-label col-form-label-lg" })
                    <div class="">
                        @Html.TextAreaFor(x => x.Offer.Description, new { @class = "form-control", id = "", rows="5" })
                        @Html.ValidationMessageFor(x => x.Offer.Description)
                    </div>
                </div>

                <div class="button-group-horizontal text-center mt-5">
                    <button class="btn btn-info btn-lg " type="submit">
                        <i class="fa-solid fa-floppy-disk me-2"></i>
                        ZAPISZ I PUBLIKUJ
                    </button>
                            
                            <a class="btn bg-warning btn-warning btn-lg " 
                        asp-controller="Offer" asp-action="Offers">
                                <i class="fa-solid fa-arrow-rotate-left me-2"></i>
                                Cofnij
                            </a>
                        </div>
                </div>

        }
</div>

</div>
